<div class="card">
  <div class="card-img-wrapper">
    <img src="{{product.smallImage}}" alt="{{product.name}}" class="card-img-top"
    [routerLink]="['/store/products/', product.id, product.name]">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn-primary cart-plus"><i class="fa fa-cart-plus fa-fw"></i></button>
        <button class="btn-primary trash"><i class="fa fa-trash fa-fw"></i></button>
        <button class="btn-primary" [routerLink]="['/store/products/', product.id, product.name]"><i class="fa fa-info fa-fw"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">{{product.title}}</h6>
    <h6 class="card-title text-center mb-1">{{product.price | currency}}</h6>
  </div>
</div>