.products-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-row: auto;
}

div.product-cards {
    overflow-y: scroll;
    width:100%;
    height: calc(100vh - 200px);
    background-color: whitesmoke;
    max-width:100%;
    max-height:calc(100vh - 200px);
}

.product-box {
    padding: 10px;
}

.btn-group {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px; 
}
