<div class="order-list">
  <h3 class="header">Order List</h3>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info list-header">
      <span class="item-quantity">Qt</span>
      <span class="item-name">Name</span>
      <span class="item-price">Price</span>
    </li>
    <li class="list-group-item list-group-item-light">
      <span class="item-quantity">1</span>
      <span class="item-name">Dapibus ac facilisis in ssdf sdfsdf sdfs</span>
      <span class="item-price">14$</span>
    </li>
    <li class="list-group-item list-group-item-light">
      <span class="item-quantity">1</span>
      <span class="item-name">Dapibus ac facilisis in</span>
      <span class="item-price">14$</span>
    </li>
  </ul>
  <div class="total-div">
    <span class="total-text">Total Amount: {{ 20.6 | currency}}</span>
    <button class="btn btn-primary btn-sm">Proceed</button>
  </div>
</div>
