
<div class="page">
  <h1>Css Playground</h1>

  <div>
    <h4>grid example</h4>
    <div class="div-wrapper-grid">
      <div class="base-div div-grid-1"><span>1</span></div>
      <div class="base-div div-grid-2"><span>2</span></div>
      <div class="base-div div-grid-3"><span>3</span></div>
      <div class="base-div div-grid-4"><span>4</span></div>
      <div class="base-div div-grid-5"><span>5</span></div>
      <div class="base-div div-grid-6"><span>6</span></div>
    </div>
  </div>

  <div>
    <h4>flex example</h4>
    <div class="div-wrapper-flex">
      <div class="base-div div-flex-1">1</div>
      <div class="base-div div-flex-2"><span>2</span></div>
      <div class="base-div div-flex-3"><span>3</span></div>
      <div class="base-div div-flex-4"><span>4</span></div>
      <div class="base-div div-flex-5"><span>5</span></div>
      <div class="base-div div-flex-6"><span>6</span></div>
    </div>
  </div>

  <div>
    <h4>Div position/display example</h4>
    <div class="div-wrapper">
      <div class="base-div div1">1</div>
      <div class="base-div div2">2</div>
      <div class="base-div div3">3</div>
    </div>
  </div>

  <div>
    <h4>Div center example</h4>
    <div class="div-wrapper2">
      <div class="base-div div-child2">child</div>
    </div>
  </div>
</div>